<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="currentIdea.key; else elseBlock">
      <h1>{{ originalName }}</h1>
    </mat-card-title>
    <ng-template #elseBlock>
      <h1>Submit Ideas</h1>
    </ng-template>
  </mat-card-header>
  <form
    [formGroup]="form"
    #formDirective="ngForm"
    (ngSubmit)="saveForm(formDirective)"
  >
    <mat-card-content>
      <mat-form-field
        class="full-width"
        appearance="outline"
        floatlabel="always"
      >
        <mat-label>Activity</mat-label>
        <input
          matInput
          placeholder="Activity"
          formControlName="activity"
          type="text"
          name="activity"
        />
        <mat-error *ngIf="form.get('lowerCase')">Required Field</mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="full-width"
        floatLabel="always"
      >
        <mat-label>Type</mat-label>
        <input
          matInput
          placeholder="Type"
          formControlName="type"
          type="text"
          name="type"
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="full-width"
        floatLabel="always"
      >
        <mat-label>Participants</mat-label>
        <input
          matInput
          placeholder="Participants"
          formControlName="participants"
          type="text"
          name="participants"
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="full-width"
        floatLabel="always"
      >
        <mat-label>Price</mat-label>
        <input
          matInput
          placeholder="Price"
          formControlName="price"
          type="text"
          name="price"
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="full-width"
        floatLabel="always"
      >
        <mat-label>Link</mat-label>
        <input
          matInput
          placeholder="Link"
          formControlName="link"
          type="text"
          name="link"
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="full-width"
        floatLabel="always"
      >
        <mat-label>Key</mat-label>
        <input
          matInput
          placeholder="Key"
          formControlName="key"
          type="text"
          name="key"
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="full-width"
        floatLabel="always"
      >
        <mat-label>Accessibility</mat-label>
        <input
          matInput
          placeholder="Accessibility"
          formControlName="accessibility"
          type="text"
          name="accessibility"
        />
      </mat-form-field>

      <section class="full-width"></section>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-button
        type="submit"
        [disabled]="form.invalid"
        color="primary"
      >
        {{ currentIdea.key ? 'Update' : 'Submit' }}
      </button>
      <button type="button" mat-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
